.layui-footer {
  text-align: center;
}
.layui-icon {
  margin-left: 20px;
}
.layui-body {
  overflow: hidden;
}
.textavatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.text {
  font-size: 12px;
}
.layui-side .userinfo {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
